.introduction, h2 {
  -webkit-text-stroke: 0.5px #3B4CCA;
  text-shadow: -0.5px -0.5px 0 #3B4CCA,
               0.5px -0.5px 0 #3B4CCA,
               -0.5px 0.5px 0 #3B4CCA,
               0.5px 0.5px 0 #3B4CCA;
}

a {
  color: #FFDE00;
  text-decoration: none;
}

body {
  background-color: #e3350d;
  color: #FFDE00;
  font-family: "Gill Sans", "Gill Sans M";
  margin: 0;
  padding: 0;
}

details summary {
  cursor: pointer;
  display: block;
  list-style: none;
  padding: 4px 0;
}

details summary h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

details summary::before {
  content: '▶';
  display: inline-block;
  font-size: 0.7em;
  margin-right: 8px;
  transition: transform 0.2s;
  vertical-align: middle;
   -webkit-text-stroke: 0.5px #3B4CCA;
  text-align: center;
  text-shadow: -0.5px -0.5px 0 #3B4CCA,
               0.5px -0.5px 0 #3B4CCA,
               -0.5px 0.5px 0 #3B4CCA,
               0.5px 0.5px 0 #3B4CCA;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary::before {
  transform: rotate(90deg);
}

footer {
  border-top: solid 2px;
  font-family: "Gill Sans", "Gill Sans M";
  font-style: italic;
  padding: 10px;
  text-align: center;
  width: 100%;
}

h1 {
  -webkit-text-stroke: 0.5px #3B4CCA;
  text-align: center;
  text-shadow: -0.5px -0.5px 0 #3B4CCA,
               0.5px -0.5px 0 #3B4CCA,
               -0.5px 0.5px 0 #3B4CCA,
               0.5px 0.5px 0 #3B4CCA;
}

header {
  border-bottom: solid 2px;
  font-family: "Gill Sans", "Gill Sans M";
  margin: 7px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

select {
  borders-radius: 100%;
}

ul li {
  margin-top: -5px;
  padding-top:-5px;
}