body {
  background-color: #1c1c1c;
  color: #FFDE00;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: solid 2px;
  margin: 7px;
  text-align: center;
  padding: 10px;
  width: 100%;

}

footer {
  border-top: solid 2px;
  text-align: center;
  padding: 10px;
  width: 100%;
}

h1 {
  text-align: center;
   -webkit-text-stroke: 0.5px #3B4CCA;
  text-shadow: -0.5px -0.5px 0 #3B4CCA,
               0.5px -0.5px 0 #3B4CCA,
               -0.5px 0.5px 0 #3B4CCA,
               0.5px 0.5px 0 #3B4CCA;
}
.introduction, h2 {
   -webkit-text-stroke: 0.5px #3B4CCA;
  text-shadow: -0.5px -0.5px 0 #3B4CCA,
               0.5px -0.5px 0 #3B4CCA,
               -0.5px 0.5px 0 #3B4CCA,
               0.5px 0.5px 0 #3B4CCA;
}